<%= form_for @event, :html => { :class => "form-horizontal event" } do |f| %>

  <% if @event.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :tag, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :tag, :class => 'form-control' %>
    </div>
    <%=f.error_span(:tag) %>
  </div>
  <div class="form-group">
    <%= f.label :collection, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :collection, :class => 'form-control' %>
    </div>
    <%=f.error_span(:collection) %>
  </div>
  <div class="form-group">
    <%= f.label :funding_deadline, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :funding_deadline, :class => 'form-control' %>
    </div>
    <%=f.error_span(:funding_deadline) %>
  </div>
  <div class="form-group">
    <%= f.label :event_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :event_date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:event_date) %>
  </div>
  <div class="form-group">
    <%= f.label :rating, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :rating, :class => 'form-control' %>
    </div>
    <%=f.error_span(:rating) %>
  </div>
  <div class="form-group">
    <%= f.label :location, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :location, :class => 'form-control' %>
    </div>
    <%=f.error_span(:location) %>
  </div>
  <div class="form-group">
    <%= f.label :ticket, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :ticket, :class => 'form-control' %>
    </div>
    <%=f.error_span(:ticket) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
