<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @event.tag %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @event.collection %>
</p>

<p>
  <strong>Funding deadline:</strong>
  <%= @event.funding_deadline %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @event.rating %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @event.ticket %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
