<%= form_for @backer, url: { action: "create" } , :html => { :class => "form-horizontal backer" } do |f| %>

  <% if @backer.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@backer.errors.count, "error") %> prohibited this backer from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @backer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :how_much_do_you_want_to_pay?, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :paid_amount, :class => 'form-control' %>
    </div>
    <%=f.error_span(:paid_amount) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Back this event", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
