<%= form_for(@backer) do |f| %>
  <% if @backer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@backer.errors.count, "error") %> prohibited this backer from being saved:</h2>

      <ul>
      <% @backer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :paid_amount %><br>
    <%= f.number_field :paid_amount %>
  </div>
  <div class="field">
    <%= f.label :perk_level %><br>
    <%= f.number_field :perk_level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
