<%= form_for @backer, :html => { :class => "form-horizontal backer" } do |f| %>

  <% if @backer.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@backer.errors.count, "error") %> prohibited this backer from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @backer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :paid_amount, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :paid_amount, :class => 'form-control' %>
    </div>
    <%=f.error_span(:paid_amount) %>
  </div>
  <div class="form-group">
    <%= f.label :perk_level, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :perk_level, :class => 'form-control' %>
    </div>
    <%=f.error_span(:perk_level) %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>
  <div class="form-group">
    <%= f.label :event_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :event_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:event_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                backers_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
