<p id="notice"><%= notice %></p>

<h1>Listing Backers</h1>

<table>
  <thead>
    <tr>
      <th>Paid amount</th>
      <th>Perk level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @backers.each do |backer| %>
      <tr>
        <td><%= backer.paid_amount %></td>
        <td><%= backer.perk_level %></td>
        <td><%= link_to 'Show', backer %></td>
        <td><%= link_to 'Edit', edit_backer_path(backer) %></td>
        <td><%= link_to 'Destroy', backer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Backer', new_backer_path %>
